body{
  background:linear-gradient(to right,blue,white,pink);
}
.main-box{
  display: flex;
  flex-direction: column;
}
h2{
  text-align: center;
  margin-top: 80px;
}
.box{
  width: 600px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.counter{
  width: 300px;
  height: 120px;
  margin: 20px;
  border: 3px solid black;
  text-align: center;
  background-color: rgb(63, 216, 69);
}
.colour{
  background-color: rgb(227, 59, 71);
}
